#container {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    z-index: 7;
}

/* 메인 영상 부분 */
#movie_wrap {
    position: relative;
    height: 498px;
    background-color: #000;
}

#container .contents {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}

#video_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#video_wrap:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, #000 100%);
    z-index: 2;
}

#video_wrap video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.35);
    z-index: 1;
}

#movie_title {
    position: absolute;
    top: 180px;
    left: 0;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 1.450em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
    z-index: 2;
    /* animation: tt1 1s 3s ease-in forwards; */
    pointer-events: none;
}

#movie_txt {
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 239px;
    left: 0;
    max-width: 100%;
    font-size: 18px;
    color: #fff;
    line-height: 1.450em;
    text-overflow: ellipsis;
    z-index: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* animation: tt2 1s 3s ease-in forwards; */
    pointer-events: none;
}

#video_controller_wrap {
    display: inline-flex;
    position: absolute;
    top: 315px;
    left: 3px;
    z-index: 4;
    /* animation: tt 0.8s 3s ease-in forwards; */
}

#btn_detailView {
    display: block;
    padding: 5px 30px 5px 18px;
    font-size: 14px;
    color: #343434;
    line-height: 1.429em;
    background: rgba(255, 255, 255, 0.8) url(./../img/arrowR.png) calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}

#btn_playStop {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(./../img/play.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

.active {
    background: transparent url(./../img/pause.png) center/18px scroll no-repeat !important;
}

#btn_soundOnOff {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(./../img/soundOn.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

.active1 {
    background: transparent url(./../img/soundOff.png) center/18px scroll no-repeat !important;
}


/* 무비차트/상영예정작 */
#movieChart_wrap {
    /* clear: none;
    float: none; */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

#movieChart_wrap .contents {
    overflow: hidden;
    padding: 50px 30px 60px;
    margin: 0 auto;
}

#movieChartScreen_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#tabBtn_wrap {
    display: inline-flex;
}

/* #tabBtn_wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
} */

#tabBtn_wrap h3 a {
    font-weight: 400;
    font-size: 25px;
    color: #666;
    line-height: 1.423em;
}

#tabBtn_wrap .active2 {
    font-weight: 700;
    color: #222;
}

#tabBtn_wrap h3~h3 {
    position: relative;
    margin-left: 32px;
}

#tabBtn_wrap h3~h3:before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 50%;
    width: 1px;
    height: 16px;
    margin-top: -7px;
    background-color: #d8d8d8;
}

.btn_allView {
    padding: 4px 32px 4px 15px;
    font-size: 13px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(./../img/arrowR.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.movieChart_list.swiper-container {
    overflow: visible;
    position: relative;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.movieChart_list .swiper-wrapper {
    counter-reset: movie-chart-counter;
}

.swiper-wrapper {
    /* position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; */
    display: flex;
    /* transition-property: transform;
    box-sizing: content-box; */
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    /* position: relative;
    transition-property: transform; */
}

.movieChart_list .img_wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.movieChart_list .img_wrap:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.movieChart_list .img_wrap img {
    z-index: 1;
}

.movieChart_list .img_wrap>img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}

/* 나이등급 */
.movieAgeLimit_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 6px;
    top: 7px;
    z-index: 4;
}


.movieChart_list .img_wrap::after {
    content: counter(movie-chart-counter);
    counter-increment: movie-chart-counter;
    position: absolute;
    left: 9px;
    bottom: -4px;
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    color: #fff;
    line-height: 1em;
    z-index: 3;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}

.movie_info_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieName {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 16px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie_info_wrap>span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 13px;
    color: #444;
    line-height: 1.214em;
}

.movie_info_wrap>span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.movie_info_wrap>span~span {
    position: relative;
    padding-left: 16px;
}

.movie_info_wrap>span~span:before {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: 50%;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #ededed;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    left: 10px;
    right: auto;

}

.movieChart_list .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.movieChart_list .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url(./../img/arrowL.png) center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}

.movieChart_list .swiper-button-prev:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url(./../img/arrowR.png) center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}


.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.movieChart_list .swiper-button-disabled {
    display: none;
}

.movieChart_list .swiper-button-prev {
    overflow: hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

/* 무비차트 / 상영예정작 상세보기, 예매하기 버튼 */

.movieChart_btn_wrap {
    display: none;
    position: relative;
    z-index: 5;
    width: 170px;
    height: 234px;
    background-color: #57575767;
}

.btn_movieChart_detail {
    position: absolute;
    top: 80px;
    left: 30px;
    /* z-index: 5; */
    width: 110px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    color: #6b6b6b;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.btn_movieChart_ticketing {
    position: absolute;
    top: 125px;
    left: 30px;
    width: 110px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: #fb4357;
}

.btn_movieChart_detail:hover,
.btn_movieChart_ticketing:hover {
    opacity: 0.8;
}





/* 이벤트 */
#event_wrap {
    padding: 60px 0 6px;
}

#event_title {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#event_title h3 {
    float: left;
    height: auto;
    /* margin: 0; */
    font-weight: 700;
    font-size: 25px;
    color: #222;
    line-height: 1.423em;
    /* background-image: none; */
}

#event_title .btn_allView {
    float: right;
    margin-top: 4px;
    padding: 4px 32px 4px 15px;
    font-size: 13px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(./../img/arrowR.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

#event_title:after {
    content: '';
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
}

#event_list_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 19px;

}

#event_list {
    overflow: visible;
    position: relative;
}

#event_list_wrap #event_list:before {
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

#event_list .img_wrap {
    overflow: hidden;
    width: 310px;
    height: 207px;
    border-radius: 10px;
    z-index: 1;
}

#event_list .img_wrap img {
    left: 0;
    width: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
    transition: all 0.2s linear;
    transform: scale(1.0);
}

#event_list .img_wrap img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

.movieChart_list .img_wrap:hover:after {
    opacity: 0;
}

#event_list a strong {
    display: block;
    overflow: hidden;
    margin-top: 16px;
    font-weight: 700;
    font-size: 15px;
    color: #222;
    line-height: 1.444em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#event_list a span {
    display: block;
    margin-top: 4px;
    font-size: 13px;
    color: #666;
    line-height: 1.429em;
}



/* 특별관 */

#specialHall_wrap {
    padding: 60px 0 21px;
}

#specialHall_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#specialHall_title h3 {
    height: auto;
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    color: #222;
    line-height: 1.423em;
    background-image: none;
}

#specialHall_title .btn_allView {
    padding: 4px 32px 4px 15px;
    font-size: 13px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(./../img/arrowR.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

#specialHall_content {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

#specialHall_content>a {
    display: block;
    overflow: hidden;
    width: 500px;
    border-radius: 10px;
}

#specialHall_content>a .img_wrap {
    width: 100%;
    height: 100%;
}

#specialHall_content .img_wrap {
    position: relative;
    overflow: hidden;
}

#specialHall_content .img_wrap>img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}

#specialHall_content .specialHall_list {
    overflow: hidden;
    width: 440px;
}

#specialHall_content .specialHall_list li {
    border: 1px solid transparent;
    border-top: 1px solid #e9e9e9;
}

.specialHall_list li.active3 {
    /* border-top: 1px solid transparent;  */
    border: 1px solid #000 !important;
    border-radius: 10px;
    /* font-weight: 700; */

}

.specialHall_list li.active3 strong {
    font-weight: 700 !important;
}

#specialHall_content .specialHall_list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px 19px 19px;
}

#specialHall_content .specialHall_list li a strong {
    font-weight: 400;
    font-size: 18px;
    color: #222;
    line-height: 1.444em;
}

#specialHall_content .specialHall_list li a .specialHall_hashTag_wrap .specialHall_hashTag {
    padding: 2px 7px;
    font-size: 14px;
    color: #666;
    line-height: 1.429em;
    background-color: #f6f6f6;
    border-radius: 5px;
}


/* 기프티콘 */
#giftcon_wrap {
    padding: 60px 0 0;
}

#giftcon_list_wrap {
    display: flex;
    /* overflow: hidden; */
}

#giftcon_list_wrap>li {
    /* float: left; */
    width: 330px;
    padding: 20px 32px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

#giftcon_list_wrap>li~li {
    margin-left: 25px;
}

.giftcon_list dt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #222;
    line-height: 1.450em;
}

.giftcon_list dt .btn_more {
    padding: 2px 15px 3px;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 1.417em;
    border: 1px solid #f4f4f4;
    border-radius: 11px;
}

.giftcon_list dt+dd {
    margin-top: 27px;
}

.giftcon_list dd a {
    display: flex;
    justify-content: left;
    align-items: center;
}

.giftcon_list dd a .img_wrap {
    position: relative;
    width: 75px;
    height: 76px;
    border-radius: 5px;
}

.giftcon_list .img_wrap>img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}

.giftcon_list dd a .giftcon_info_wrap {
    display: inline-flex;
    flex-direction: column;
    padding-left: 15px;
}

.giftcon_list dd a .giftcon_info_wrap span {
    font-weight: 700;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
}

.giftcon_list dd a .giftcon_info_wrap strong {
    font-weight: 700;
    font-size: 14px;
    color: #222;
    letter-spacing: -0.020em;
    line-height: 1.444em;
}

/* 공지사항 & 고객센터 */
#noticeClient_wrap {
    padding: 30px 0 350px;
}

#noticeClient_container {
    display: flex;
    float: left;
    width: 780px;
    height: 236px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

#noticeClient_content {
    width: 530px;
    padding: 24px 26px 20px 30px;
}

#notice_wrap {
    display: block;
    padding-bottom: 40px;
    border-bottom: 1px solid #f4f4f4;
}

#notice_wrap strong {
    float: left;
    font-weight: 700;
    font-size: 15px;
    color: #222;
    line-height: 1.500em;
}

#notice_wrap .btn_link {
    float: left;
    overflow: hidden;
    max-width: 300px;
    margin-top: 2px;
    margin-left: 28px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#notice_wrap .btn_link:hover {
    text-decoration: underline;
}

#notice_wrap .btn_more {
    float: right;
    padding: 2px 15px 3px;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 1.417em;
    border: 1px solid #f4f4f4;
    border-radius: 11px;
}


#client_list {
    display: flex;
    padding: 19px 0 22px;
}

#client_list dt {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}

/* strong {
    font-weight: 500;
} */
#client_list dd {
    overflow: hidden;
    padding-left: 28px;
}

#client_list dd strong {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #222;
    line-height: 1.714em;
}

#client_list dd span {
    display: block;
    font-size: 14px;
    color: #222;
    line-height: 1.714em;
}

#client_btn_wrap {
    display: flex;
}

#client_btn_wrap a {
    padding: 7px 14px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background-color: #f6f6f6;
    border-radius: 5px;
}

#client_btn_wrap a~a {
    margin-left: 10px;
}

#qr_wrap {
    display: flex;
    flex-direction: column;
    width: 222px;
    text-align: center;
    border-left: 1px solid #e4e4e4;
    padding: 0 0 0 20px;
}

#qr_wrap strong {
    display: block;
    margin-top: 24px;
    font-weight: 700;
    font-size: 15px;
    color: #222;
    line-height: 1.500em;
}

#qr_wrap span {
    font-size: 12px;
}

#qr_wrap .img_wrap {
    width: 60px;
    height: 60px;
    margin: 60px auto 0;
}

#qr_wrap .img_wrap>img {
    /* position: absolute; */
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}

#qr_wrap p {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
    letter-spacing: -0.030em;
    line-height: 1.417em;
}

#noticeClient_banner_wrap {
    float: right;
    overflow: hidden;
    position: relative;
    width: 211px;
    height: 238px;
    border-radius: 10px;
}

#noticeClient_banner_wrap a img {
    width: 100%;
}