/* 전체 내용 */
#contents{
    padding-bottom: 50px;
    width: 980px;
    margin: 0 auto;
}

/* 이미지 아래 글자+버튼 가운데로 */
#wrap-join #join-hd {
    text-align: center;
}

/* 이미지 아래로 */
#wrap-join #join-hd h3 {
    margin: 60px 0 18px;
    line-height: 41px;
}

/* 이미지 아래 글씨 */
#wrap-join #join-hd > p {
    margin-bottom: 33px;
    font-size: 15px;
    color: #222;
}

/* 회원가입 버튼 */
#wrap-join #link-join {
    display: inline-block;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    background-color: #fb4357;
}

/* 회원가입 버튼 안 글씨 */
#wrap-join #link-join > span {
    display: block;
    padding: 0 50px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #f07469;
}

/* 상세 혜택 부분 */
#wrap-join #join-benefit {
    margin-top: 46px;
    padding: 0 30px;
}

/* 상세 혜택 글씨 */
#wrap-join #join-benefit h4 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

/* 상세 혜택 박스 */
#wrap-join #benefit-list {
    overflow: hidden;
    margin-bottom: 30px;
}
#wrap-join #benefit-list > li {
    float: left;
    padding: 30px;
    margin-left: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #e1e0db;
    color: #222;
}
#wrap-join #benefit-list h5 {
    display: block;
    padding-bottom: 13px;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #e1e0db;
}
#wrap-join #benefit-list > li:first-child {
    margin-left: 0;
}
#wrap-join #benefit-list #dep1 {
    margin-top: 10px;
}
#wrap-join #benefit-list #dep1 > li {
    padding-left: 8px;
    font-size: 13px;
    background: url(/HTML_프로젝트/img/circle_small.gif) no-repeat 0 7px;
    line-height: 1.8;
}
#wrap-join #benefit-list #dep2 > li {
    padding-left: 8px;
    background: url(/HTML_프로젝트/img/bar_small.gif) no-repeat 0 9px;
    line-height: 1.8;
}

/* 밑 글씨 */
#wrap-join #desc {
    text-align: center;
    font-size: 14px;
    color: #222;
}