#login_container {
    margin-top: 60px;
    width: 500px;
    height: 330px;
    background-color: white;
    margin-left: 20%;
    position: relative;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

#login_content {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
    padding: 30px 0;
    height: 650px;
}

#login_box {
    position: relative;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 100px;
}

#userId {
    outline: none;
    border-style: none;
    margin-left: 50px;
    width: 195px;
    height: 32px;
    margin-top: 2px;
}

#userPw {
    outline: none;
    border-style: none;
    margin-left: 50px;
    width: 195px;
    height: 32px;
    margin-top: 2px;
}

.person {
    color: gray;
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.lock {
    color: gray;
    position: absolute;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

#personText {
    color: gray;
    position: absolute;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 35px;
    z-index: 1;
}

#lockText {
    color: gray;
    position: absolute;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 35px;
    z-index: 1;
}

#userIdBox {
    border: 2px solid gray;
    background-color: white;
    position: absolute;
    margin-top: 30px;
    width: 250px;
    height: 40px;
    margin-left: 40px;

}

#userPwBox {
    border: 2px solid gray;
    background-color: white;
    position: absolute;
    margin-left: 40px;
    margin-top: 90px;
    width: 250px;
    height: 40px;

}

#loginBtn {
    background-color: rgb(255, 134, 140);
    border: 2px solid rgb(255, 134, 140);
    margin-left: 140px;
    width: 250px;
    height: 40px;
    color: white;
    cursor: pointer;
}

#idcheckboxText {

    margin-top: 10px;
    padding-left: 140px;
    font-size: 13px;
}

.findId {
    font-size: 13px;
    bottom: 89px;
    margin-left: 250px;
    position: absolute;
    text-decoration: underline;
}

.findPw {
    font-size: 13px;
    bottom: 89px;
    margin-left: 325px;
    position: absolute;
    text-decoration: underline;
}

#naverBtn {
    background-color: rgb(39, 202, 60);
    border: 2px solid rgb(39, 202, 60);
    margin-left: 140px;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

#naverIcon {
    position: absolute;
    margin-top: 13px;
    margin-left: 155px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

#sighUp {
    width: 700px;
    height: 70px;

    position: absolute;
    margin-top: 450px;
    margin-left: 97px;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 22px;
    font-size: 13px;
    font-weight: bold;
}

#sighUpBtn {
    border: 1px solid rgb(255, 134, 140);
    color: rgb(255, 134, 140);
    width: 120px;
    height: 25px;
    background-color: white;
    font-weight: bold;
}

#sighUpBtn a {
    color: rgb(255, 134, 140);
}

#btn1 {
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 195px;
    border-style: none;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    border-radius: 5px 5px;
}

#btn2 {
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 297px;
    border-style: none;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    border-radius: 5px 5px;
}

#btn3 {
    width: 120px;
    height: 40px;
    position: absolute;
    margin-left: 399px;
    border-style: none;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    border-radius: 5px 5px;
}